<h1>Create a New messages</h1>

<!-- Appelle le formulaire partiel _form.html.erb -->
<%= render 'form' %>

<%#= link_to "Back to Project", project_path(@project) %>
<!----><%#= link_to "New Message", new_project_t_thread_message_path(@thread.project, @thread) %>
<!---->